body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: linear-gradient(#a0def5,#74d0f1, #4284be);
    font-family: sans-serif;
}
.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    gap: 35px;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(11, 2, 110, 0.2);
    background-color: aliceblue;
    margin: auto;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
}
    
.header{
    display: flex;
    justify-self: center;
    padding: 10px 0 10px 0;
}

.input{
    height: 45px;
    width: 87%;
    padding: 0 0 0 45px;
    border-radius: 25px;
    border: none;
    border-bottom: 1px solid #45b0de;
}

.top-header{
    margin-top: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-bottom: 35px;
    color: #0b349b;
}

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.submit-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.submit{
    font-size: 15px;
    height: 45px;
    width: 100%;
    background: linear-gradient(45deg, #1bc4be, #220dc0);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    background: linear-gradient(45deg, #220dc0, #0b349b, #1a69ae, #74d0f1, #1a69ae, #0b349b, #220dc0);
    background-size: 300% 300%;
    animation: gradient 2s ease infinite; 
    box-shadow: 0px 5px 10px rgba(48, 3, 172, 0.2);
    transform: translateY(-2px);
}

@keyframes gradient {
    0% {
        background-position: 0% 60%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
::-webkit-scrollbar {
    display: none;
}