#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavenderblush;
  position:relative;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 20px;
}
#chart-container-2 {
 
  background-color: lavenderblush;
  margin-top: 0%;
  position: relative;
  width: 80vw;
  border-radius: 20px;
  margin-left: 10vw
}
#chart-container-3 {
  background-color: lavenderblush;
  margin-top: 0%;
  position: relative;
  width: 80vw;
  border-radius: 20px;
  margin-left: 10vw;
  margin-bottom: 50px;
}
h2{
  text-align: center;
  font-size:   16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: darkslategrey;

}
@media (min-width:1024px){
  h2{
    font-size: 50px;;
  }
}
.bar{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4vw;
}
